@inject NavigationManager NavigationManager;

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Lista obecności</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="HandleClick">
                <span class="oi oi-home" aria-hidden="true"></span> Start
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="lista">
                <span class="oi oi-list" aria-hidden="true"></span> Program Lista
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dodaj">
                <span class="fa fa-user-plus" aria-hidden="true"> </span> Dodaj pracownika
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="swieta">
                <span class="fa fa-clipboard-list" aria-hidden="true"> </span> Lista świąt
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="swieto">
                <span class="fa fa-calendar-plus" aria-hidden="true"> </span> Dodaj święto
            </NavLink>
        </li>
        <AuthorizeView Roles="admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="AdminManage">
                    <span class="fa fa-users-cog" aria-hidden="true"> </span> Panel Administratora
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void HandleClick()
    {
        NavigationManager.NavigateTo("/", true);
    }
}
