@page
@attribute [IgnoreAntiforgeryToken]
@model LogoutModel
@{
    ViewData["Title"] = "Wylogowanie zakończone powodzeniem!!!";
}


    <body style=" background-image:linear-gradient(to bottom right, #05163d, #4B0082); padding:0 0 0 0; margin:0 0 0 0;">

        <div class="form-group col-lg-12">
            <br />
        </div>
        <div class="form-group col-lg-12">
            <br />
        </div>
        <div class="form-group col-lg-12">
            <br />
        </div>
        <div class="form-group col-lg-12">
            <img class="col-4 offset-4" src="/Images/out.jpg" asp-append-version="true" width="300" align="middle" />
        </div>
        <div class="form-group col-lg-12">
            <br />
        </div>
        <div>
                <h1 style="
                        color: #007bff;
                        text-align: center;
                        font-family: Cambria;
                        text-shadow: 3px 3px 1px black;
                        letter-spacing: 3px;
                        ">
                    @ViewData["Title"]
                </h1>
        </div>
    </body>